CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
*.exe
*.dll
*.a
cmake.out
make.out
CMakeLists.txt.user
.ninja_deps
.ninja_log
Project.cbp
build.ninja
rules.ninja
